{{#each posts}}

<h2>{{title}}</h2>
<div>{{content}}</div>

{{#if ownProfile}}

<a href="http://localhost:3000/posts/{{user}}/{{id}}">Show</a> |
<a href="http://localhost:3000/delete/{{id}}">Delete</a> 

{{/if}} 

{{/each}}