<a href="{{baseUrl}}/new">new</a>

{{#unless hasPosts}}

<p class="grayed-out">No posts to show.</p>

{{/unless}}

{{#each posts}}

<h2><a href="{{baseUrl}}/posts/{{user}}/{{id}}">{{title}}</a></h2>
<div style="color:#AAA; margin-bottom: 5px;">Posted at {{postedAt}} by <b>{{user}}</b></div>
<div>{{content}}</div>

{{#if ownProfile}}

|
<a style="cursor: pointer;" onclick="confirmDelete('{{baseUrl}}/delete/{{id}}')">Delete</a> 

{{/if}} 

<p>
  {{ts}}
</p>


{{/each}}